.card{
    border-radius: 5px;
    box-shadow: inset;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(255, 255, 255, 0.547);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

body {
    min-height: 100vh;
    background-color: rgba(140, 185, 202, 0.607);
}

.select{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}