.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

.form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 0 15px;
}