.menu { 
    display: flex;
    justify-content: center;
    list-style: none;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: #00000081;
    
}

.link:global(.active) {
    background-color: rgb(0, 110, 255);

}