.link {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 15px;
    border-bottom: 1px solid;
}
.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}